#welcomeContainer {
	width: 800px;
	margin: 0 auto;
}

#exp-btn {
	position: absolute; 
	top: 60%; 
	left: 45%;
}

#portlandContainer {
	width: 800px;
	height: 800px;
	margin: 0 auto;
	padding-top: 100px;
}

.mainContainer {
    position: relative;
    width: 800px;
    height: 800px;
}

.mainContainter canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#heartContainer {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 30%;
	left: 35%;
}

